<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AvalonEdit" version="6.3.0.90" targetFramework="net48" />
  <package id="EasyModbusTCP" version="5.6.0" targetFramework="net48" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.77" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="sqlite-net-pcl" version="1.8.116" targetFramework="net48" />
  <package id="SQLitePCLRaw.bundle_green" version="2.0.4" targetFramework="net48" />
  <package id="SQLitePCLRaw.core" version="2.0.4" targetFramework="net48" />
  <package id="SQLitePCLRaw.lib.e_sqlite3" version="2.0.4" targetFramework="net48" />
  <package id="SQLitePCLRaw.provider.dynamic_cdecl" version="2.0.4" targetFramework="net48" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net48" />
</packages>