"""
Author: Yutang LI
Institution: SIAT-MIC
Contact: yt.li2@siat.ac.cn
"""

# Model Config
OPENAI_API_KEY = ""
OPENAI_BASE_URL = ""
# MODEL = "chatgpt-4o-latest"
MODEL = "gpt-4o-2024-11-20"
# MODEL = "deepseek-chat"

# path
CODING_DIR = ".coding"

# MinIO
MINIO_ENDPOINT=
INTERNAL_MINIO_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET=
